<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealer</title>
</head>
<body>
This is your dealership
<a th:text="${dealer}"></a>
<div th:each="car:${cars}">
    Car: <a th:text="${car.getModel()}"></a>
    Price: <p th:text="${car.getPrice()}"></p>
</div>
<form th:method="POST" th:action="@{/dealer}" th:object="${order}">
    <label for="chosenCar">Choose: </label>
    <input type="text" th:field="*{chosenCar}" id="chosenCar"/>
    <div style="color: red" th:if="${#fields.hasErrors('chosenCar')}" th:errors="*{chosenCar}"></div>

    <br/>

    <input type="submit" value="Order"/>


</form>
<hr/>
<div th:each="order:${orders}">
    <a th:href="@{dealer/order/{id}(id=${order.getId()})}" th:text="'Order number: '+${order.getId()}"></a>
    Will be delivered: <a th:text="${#dates.format(order.getDate(),'dd.MM.yyyy HH:mm')}"></a>
</div>
</body>
</html>