<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body>
Your order is <p th:text="${order.getChosenCar()}"></p>
              <p th:text="${cars.get(order.getChosenCar())}"></p>
</body>
<form th:method="PATCH" th:action="@{/dealer/order/{id}(id=${order.getId()})}" th:object="${order}">
    <label for="chosenCar">Enter new car</label>
    <input type="text" th:field="*{chosenCar}" id="chosenCar"/>

    <br/>

    <label for="date">Enter new date</label>
    <input type="text" th:field="*{date}" id="date">

    <br/>

<!--     Add this block to show error message if there are errors -->
    <div th:if="${errors}">
        <ul>
            <li style="color: red" th:each="error : ${errors}" th:text="${error.getDefaultMessage()}"></li>
        </ul>
    </div>
<!--     end of error message block -->

    <input type="submit" value="Edit"/>
</form>
<form th:method="DELETE" th:action="@{/dealer/order/{id}(id=${order.getId()})}" th:object="${order}">
    <input type="submit" value="Delete"/>
</form>
</html>